*{
    margin: 0 3%;
}

#tokyo{
    display: block;
    background-image: url("https://live.staticflickr.com/7830/47032104022_32556c9c7d_b.jpg");
    margin: auto;
    width: 100%;
    height: auto;
    color: white;
    font-size: larger;
    text-align: center;
    opacity: 0.80;
}

.caption{
    padding-top: 250px;

}
ul {
    list-style-image: url("https://image.flaticon.com/icons/svg/484/484165.svg");
}

#tourpoint .tour{
    background-color:teal;
    width: 100%;
    align: center;
    margin: auto;
}

.tourpoint li .waktu {list-style: none;
}

#itinerary .itinerary {
    background-color:teal;
    width: 100%;
    align: center;
    margin: auto;
}

.tujuan {
    background-color:teal;
    width: 100%;
    align: center;
    margin: auto;
}


h2:before {
    content: "";
    display: inline-block;
    background: url("https://image.flaticon.com/icons/svg/0/308.svg") no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
    line-height: 2;
    }

table {
    text-align: center;
    height: 40%;
    left: 10%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 35%;
}

thead th{
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 25px;
    padding: 15px;
    color: #2E7890;
    background-color: white;
}

th{
    border: 1px solid #2E7890;
  }

tr td{
    font-size: 20px;
    border: 1px solid #2E7890;
}

/* .tombol {
    display: inline-block;
    margin-right: 10px;
    float: left;

} */
.button-wraper {
    display: block;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    text-align: center;

}

.button-wraper a{
    display: inline-block;
    width: 100px;
    height: 35px;
    background-color: teal;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    color: white;
    border-radius: 3px;
}

#destinasi {text-align: center;
    height: 500px;
    
}

.destinasiunik {
    display: inline-block;
    width: 200px;
    padding: 65px;
    margin-right: 0;
    float: left;
    height: 550px;
}

.destinasiunik h3 {
    font-size: 15px;
}

body {
    line-height: 2;

}

